<% if (error.length > 0) { %>
<% error.forEach(error => { %>
  <div class="alert alert-danger">
   <%= error %>
 </div>
<% }) %>
<% } %>

<% if (errors.length > 0) { %>
<% errors.forEach(error => { %>
  <div class="alert alert-danger">
   <%= error.text %>
 </div>
<% }) %>
<% } %>
